{% extends "base.html" %}

{% block title %}
Deposito
{% endblock %}

{% block content %}
				
					<div align="center">
                        <h1> Dirección de Bienes Asegurados</h1>
                        <h3 style="color: blue"> Depósito de Vehículos </h3>

                        <IMG SRC="https://i9ekda.bl.files.1drv.com/y4m9nKMrsnS6A3rqMbp7z40zzjptcGeUq15oHw4BeTTwueV4clGjrZvfF98cd3qV-OYTOjHDBBadkhITXpmHun6LyKglEopFCGj9xh6bJOed1GAuap6n-VR5ehXgWqq6uGohDnpeyLlx7DFtG84ZMg5pcDMbRnQpumvhyJnQm0SoojGSIR3uNJ4hmn24TscTGz2-Gn3s_MvoUoTBa-IDL7O-w?width=415&height=4878&cropmode=none">
                    </div>
    			
    
{% endblock %}
