{% extends "base1.html" %}


{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Eliminar Vigilantes Responsables</h1>
    </div>
</div>

<form method="post">
    {% csrf_token %}
   <h3>¿Desea eliminar el registro de: {{ object.nombre_vigilante}}?</h3>
    <div align="center">
    <button class="btn btn-danger" type="submit">Si, eliminar</button>
        <a class="btn btn-default" href="{% url 'vigilante_listar'%}">Cancelar</a>
    </div>
</form>
{% endblock %}

{% block footer %}
<div align="center">
 <h5> Eliminar una autoridad responsable </h5>
</div>

{% endblock %}