{% extends "base1.html" %}
{% block content %}

    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Vehículos a Resguardo del Depósito Oficial</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Lista de Vehículos
            </div>
            <div class="panel-body">
                <div class='form-group'>
                    <div class="row">
                        <div class="col-lg-10">

                            </div>
                                
                                <div class="col-lg-1">
                                    <a href="{% url 'vehiculo_crear' %}" class="btn btn-info btn-block">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </div>
                               
                                <div class="col-lg-1">
                                    <a href="{% url 'index' %}" class="btn btn-info btn-block">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">EXPEDIENTE</th>
                                <th class="text-center">OFICIO</th>
                                <th class="text-center">AUTORIDAD</th>
                                <th class="text-center">GRUA</th>
                                <th class="text-center">DEPOSITO</th>
                                <th class="text-center">FECHA INGRESO</th>
                                <th class="text-center">HORA INGRESO</th>
                                <th class="text-center">MARCA</th>
                                <th class="text-center">TIPO</th>
                                <th class="text-center">COLOR</th>
                                <th class="text-center">MODELO</th>
                                <th class="text-center">PLACA</th>
                                <th class="text-center">ESTADO PLACAS</th>
                                <th class="text-center">SERIE</th>
                                <th class="text-center">MOTOR</th>
                                <th class="text-center">CLASE</th>
                                <th class="text-center">ESTATUS</th>
                                <th class="text-center">FLEJE</th>
                                <th class="text-center">No.FLEJE</th>
                                <th class="text-center">MOTIVO INGRESO</th>
                                <th class="text-center">PROCEDENCIA</th>
                                <th class="text-center">CONSERVACION</th>
                                <th class="text-center">LLAVES</th>
                                <th class="text-center">FUNCIONA</th>
                                <th class="text-center">SELLOS</th>
                                <th class="text-center">VALORES</th>
                                <th class="text-center">TIPO VALORES</th>
                                <th class="text-center">OBSERVACIONES</th>
                                <th class="text-center">SASCA</th>
                                <th class="text-center">ACCION</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for autori in vehiculos %}
                                <tr>
                                <td>{{ autori.id }}</td>
                                <td>{{ autori.Num_expediente}}</td>
                                <td>{{ autori.num_oficio }}</td>
                                <td>{{ autori.nombre_aut }}</td>
                                <td>{{ autori.nombre_grua }}</td>
                                <td>{{ autori.nombre_deposito }}</td>
                                <td>{{ autori.fecha_ingreso }}</td>
                                <td>{{ autori.num_oficio.hora }}</td>
                                <td>{{ autori.marca }}</td>
                                <td>{{ autori.tipo }}</td>
                                <td>{{ autori.color }}</td>
                                <td>{{ autori.modelo }}</td>
                                <td>{{ autori.placa}}</td>
                                <td>{{ autori.estado }}</td>
                                <td>{{ autori.serie }}</td>
                                <td>{{ autori.motor }}</td>

                                {% if autori.tipo_auto == 'A' %}
                                <td>AUTOMOVIL/CAMIONETA</td>
                                {% endif %}
                                {% if autori.tipo_auto == 'B' %}
                                <td>CAMIONETA DE CARGA</td>
                                {% endif %}
                                {% if autori.tipo_auto == 'C' %}
                                <td>AUTOBUS</td>
                                {% endif %}
                                {% if autori.tipo_auto == 'D' %}
                                <td>CAMION DE 2 o 3 EJES</td>
                                {% endif %}
                                {% if autori.tipo_auto == 'E' %}
                                <td>CAMION DE 4 o 5 EJES</td>
                                {% endif %}
                                {% if autori.tipo_auto == 'F' %}
                                <td>CAMION DE 6,7,8 o 9 EJES</td>
                                {% endif %}
                                {% if autori.tipo_auto == 'G' %}
                                <td>MOTOCICLETA</td>
                                {% endif %}

                                {% if autori.estatus == 'P' %}
                                <td>POR PAGAR</td>
                                {% endif %}
                                {% if autori.estatus == 'G' %}
                                <td>PAGADO</td>
                                {% endif %}
                                {% if autori.estatus == 'A' %}
                                <td>ABANDONADO</td>
                                {% endif %}
                                {% if autori.estatus == 'C' %}
                                <td>CHATARRIZACION</td>
                                {% endif %}

                                {% if autori.fleje == 'S' %}
                                <td>SI</td>
                                {% endif %}
                                {% if autori.fleje == 'N' %}
                                <td>NO</td>
                                {% endif %}

                                <td>{{ autori.folio_fleje}}</td>
                               
                                {% if autori.motivo == 'R' %}
                                <td>ROBADO/RECUPERADO</td>
                                {% endif %}
                                {% if autori.motivo == 'A' %}
                                <td>ASEGURADO</td>
                                {% endif %}
                                {% if autori.motivo == 'C' %}
                                <td>CATEO</td>
                                {% endif %}
                                {% if autori.motivo == 'O' %}
                                <td>OTRO</td>
                                {% endif %}

                                {% if autori.procedencia == 'P' %}
                                <td>PARTICULAR</td>
                                {% endif %}
                                {% if autori.procedencia == 'E' %}
                                <td>EMPRESARIAL</td>
                                {% endif %}
                                {% if autori.procedencia == 'O' %}
                                <td>OFICIAL</td>
                                {% endif %}

                                {% if autori.estado_veh == 'B' %}
                                <td>BUENO</td>
                                {% endif %}
                                {% if autori.estado_veh == 'R' %}
                                <td>REGULAR</td>
                                {% endif %}
                                {% if autori.estado_veh == 'M' %}
                                <td>MALO</td>
                                {% endif %}

                                {% if autori.llaves == 'S' %}
                                <td>SI</td>
                                {% endif %}
                                {% if autori.llaves == 'N' %}
                                <td>NO</td>
                                {% endif %}

                                {% if autori.funciona == 'S' %}
                                <td>SI</td>
                                {% endif %}
                                {% if autori.funciona == 'N' %}
                                <td>NO</td>
                                {% endif %}

                                {% if autori.sellos == 'S' %}
                                <td>SI</td>
                                {% endif %}
                                {% if autori.sellos == 'N' %}
                                <td>NO</td>
                                {% endif %}

                                {% if autori.valores == 'S' %}
                                <td>SI</td>
                                {% endif %}
                                {% if autori.valores == 'N' %}
                                <td>NO</td>
                                {% endif %}

                                <td>{{ autori.especifique }}</td>
                                <td>{{ autori.observacion }}</td>
                                <td>{{ autori.Sasca }}</td>
                                <td class="text-center">
                                <a class="glyphicon glyphicon-pencil" href="{% url 'vehiculo_editar' autori.id %}"></a>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function()
{
        var table = $('#tabla').DataTable({
                "language": {
                        url: "/static/localizacion/es_ES.json"
                }
        });

        $('#tabla tbody').on( 'click', 'tr', function()
        {
                if ($(this).hasClass('selected') )
                {
                        $(this).removeClass('selected');
                }
                else
                {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                }
        });

});
</script>
{% endblock js %}
